#map{
  display: flex;
  justify-content: center;
  width:100%;
  height: 100vh;
}
#map>div{
  flex:1;
  display: flex;
  flex-direction: column;
}

#map div.cell{
 /* width:30px;
  height:30px;*/
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  background: slategrey;
  color:orange;
  font-weight: 800;

}

#map div.cell:hover{
  background: grey;
}

#map div.cell.start{
  background: green;
}

#map div.cell.route{
  background: deeppink;
}

#map div.cell.end{
  background: red;
}

.columns{
  min-height: 100vh;
}
.column{
  display: flex;

}
.is-one-third{
  flex-direction: column;
}

