#map{
  display: flex;
  justify-content: center;
  margin: auto;
}

#map>div{

}

#map>div>div{
  width:30px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.start{
  background: green;
}

.route{
  background: deeppink;
}

.end{
  background: red;
}

.columns{
  min-height: 100vh;
}
.column{
  display: flex;
}
.is-one-third{
  flex-direction: column;
}
