#map{
  display: flex;
  justify-content: center;
}

#map>div{

}

#map>div>div{
  width:30px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start{
  background: green;
}

.end{
  background: red;
}
