<div class="columns">
  <div class="column">
    <div id="map">
      <div *ngFor="let row of getMap();let x = index;">
        <div *ngFor="let item of row;let y = index;"
             [ngClass]="{'start':coordinatesMatch({x:x,y:y},start),
                      'route':coordinatesAreRoute({x:x,y:y}),
                      'end':coordinatesMatch({x:x,y:y},end)}">
        <span (click)="placeStartEnd({x:x,y:y})">
          {{item ? '+' : '-'}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <div *ngIf="!start || !end">
      <h2>
        Place start/end by clicking on the map
      </h2>
    </div>
    <div *ngIf="start && end && !markers.length">
      <h2>
        Place markers on the map
      </h2>
    </div>
    <div *ngIf="start && end && markers.length">
      <h2>
        Check if „QUADROCOPTER” can fly from start to end:
      </h2>
      <button (click)="searchGraph()"> TRY OUT! </button>
    </div>

    <form class="add-new-marker"
          #f="ngForm"
          (ngSubmit)="placeMarkers(newMarker, $event)">
      <p>
        <label>X coordinate:</label>
        <input type="number"
               name="marker-coordinate-x"
               [(ngModel)]="newMarker.coordinates.x"
               required>
      </p>
      <p>
        <label>Y coordinate:</label>
        <input type="number"
               name="marker-coordinate-y"
               [(ngModel)]="newMarker.coordinates.y"
               required>
      </p>
      <p>
        <label>Size:</label>
        <input type="number"
               name="marker-size"
               [(ngModel)]="newMarker.size"
               required>
      </p>
      <p>
        <button type="submit" [disabled]="!f.valid">Add new</button>
      </p>
    </form>
    <div class="markers" *ngIf="markers">
      <div *ngFor="let m of markers;">
        <p>
          <span>{{m.coordinates.x}}</span>
          <span>{{m.coordinates.y}}</span>
          <span>{{m.size}}</span>
          <span (click)="removeMarker(index)">Delete</span>
        </p>
      </div>
    </div>
  </div>
</div>




